
@{
    ViewData["Title"] = "404 Not Found";
    Layout = "~/Views/Shared/_LayoutManagerDashboard.cshtml";
}

<div class="row">
<div class="col-md-12">
    <div class="card ">
        <div class="card-header ">
            <h4 class="card-title">404 Data Not Found</h4>
        </div>
        <div class="card-body">
        </div>
    </div>
</div>
</div>

