@model SRIMAK.Models.FinishedProductModel

@{
    ViewData["Title"] = "CreateNewProduct";
    Layout = "~/Views/Shared/_LayoutManagerDashboard.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h4 class="card-title">New Product</h4>
            </div>
            <div class="card-body">
                <hr />
                <div class="row">
                    <div class="col-md-4 offset-4">
                        <form asp-action="CreateNewProductResult">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label class="control-label">Product ID will assign by the system</label>
                            </div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" required=""/>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="QTY" class="control-label"></label>
                                <input asp-for="QTY" class="form-control" required=""/>
                                <span asp-validation-for="QTY" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" class="form-control" required=""/>
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="rm_id" class="control-label"></label>
                                <select name="rm_id" id="rm_id" class="form-control">
                                    @foreach (var item in ViewBag.Raw)
                                    {
                                        <option value="@item.Id">@item.Id - @item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
