@using Microsoft.CodeAnalysis

@{
    ViewData["Title"] = "PurcheseOrder";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<script type="text/javascript">
    function Generate(parameters) {
        
    }
</script>

<h1>PurcheseOrder</h1>

<form name="clac">
    <input onchange="func1" name="txt1" />
    <input onchange="func1" name="txt2" />
    <input type="text" name="txt3" readonly="" />


</form>

